body{
	background-color: #232323;
	margin:0;
	font-family: "Montserrat", "Avenir";
}

h1{
	color:white;
	text-align: center;
	line-height:1.4;
	background:steelblue;
	margin:0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform:uppercase;
}

#container{
	margin:0 auto;
	max-width:600px;
	margin-top:20px;
}

.square{
	width:30%;
	background-color: purple;
	padding-bottom:30%;
	float:left;
	margin:1.66%;
	border-radius:15%;
	transition:background 0.5s;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;
}

#colorDisplay{
	font-size:200%;
}


#stripe{
	height:30px;
	background-color: white;
	color:black;
	text-align: center;
}

.selected{
	color:white;
	background:steelblue;
}

button{
	border:none;
	background:none;
	color:steelblue;
	font-weight:700;
	font-size:inherit;
	letter-spacing:1px;
	height:100%;
	text-transform:uppercase;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	outline:none;
}

button:hover{
	color:white;
	background:steelblue;
}

#message{
	display:inline-block;
	width:20%;
}